.tab {
    color: white;
}

.tab button {
    position: relative;
    bottom: -2px;
    cursor: pointer;
    padding: 20px 5px;
    transition: 0.3s;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.07em;
    z-index: 5;
}


@media (max-width: 1024px) {
    .tab button {
        z-index: 5;
        position: relative;
        bottom: -2px;
        cursor: pointer;
        padding: 15px 0;
        transition: 0.3s;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.07em;
    }
}

@media (max-width: 768px) {
    .tab button {
        z-index: 5;
        position: relative;
        bottom: -2px;
        cursor: pointer;
        padding: 10px 0;
        transition: 0.3s;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.07em;
    }
}