@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'galano';
    src: local('galano') url('../fonts/Galano-Extra-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'galano-black';
    src: local('galano-black') url('../fonts/Galano-Alt-Black.otf') format('opentype');
}

@font-face {
    font-family: 'wolkway';
    src: local('wolkwway'), url('../fonts/Walkway-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'wolkwayExpand';
    src: local('wolkwayExpand'), url('../fonts/Walkway-Expand.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {

    --darkTextColor: #FFFFFF;
    --darkPlaceholderColor: #999999;
    --darkPlaceholderBg: #1F232C;
    --darkBgBlack: #14161A;
    --darkBgGray: #1F232C;

    --buttonBgColor: #1268FB;
    --buttonTextColor: #FFFFFF;
}

body.active {

    --darkTextColor: #14161A;
    --darkPlaceholderColor: #6D788D;
    --darkPlaceholderBg: #F3F3F3;
    --darkBgBlack: #FFFFFF;
    --darkBgGray: #E5E5E5;

}

body {
    font-family: fredoka, poppins, sans-serif, ui-sans-serif, system-ui;
    scroll-behavior: smooth;
}


.container {
    max-width: 1162px;
    margin: 0 auto;
    padding: 0 15px;
}

.wolkway {
    font-family: fredoka;
    letter-spacing: 0.07em;
    /* font-weight: 700; */
}

.galano {
    font-family: 'galano';
    /* letter-spacing: 0.07em; */
}

.galano-black {
    font-family: 'galano-black';
}

.wolkwayExpand {
    font-family: 'wolkwayExpand';
    letter-spacing: 0.07em;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.swiper {
    width: 100%;
    height: 100%;
    transition: 0.57s;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    background-color: var(--buttonTextColor);
}

.swiper-pagination-bullet-active {
    background-color: blue;
}

.gaap-20 {
    gap: 20px;
}

.gaap-40 {
    gap: 40px;
}

.input-check {
    color: red !important;
}

.About-position-box {
    bottom: 10%;
    width: 100%;
    position: absolute;
}

.gradient-card {
    background: linear-gradient(180deg, rgba(20, 22, 26, 0) 0%, #14161A 100%);
}

.selectdiv {
    position: relative;
}

select::-ms-expand {
    display: none;
}

/* .selectdiv::after {
    content: url('../src/images/inputArrow.png');
    color: var(--darkPlaceholderColor);
    right: 16px;
    top: 16px;

    position: absolute;
    pointer-events: none;
} */

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-word-break: normal;
    word-break: normal;
}



.react-tabs__tab {
    display: block;
    position: relative;
    list-style: none;
    padding: 0 20px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.react-tabs__tab--selected {
    background: #1268FB;
    padding: 20px;
    color: white;
    border-radius: 7px 0 0 7px;
    outline: none;
    border: none;
}



.before {
    position: relative;
}

.before-anchor {
    position: absolute;
    top: -91px;
    left: 0;
}

.tabs0 {
    display: block;
}

.connect-messege {
    z-index: 30;
    position: fixed;
    font-size: 20px;
    bottom: 10%;
    right: 5%;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
    background-color: #18B15E;
    -webkit-box-shadow: 0px 5px 11px 4px rgba(189, 189, 189, 0.22);
    -moz-box-shadow: 0px 5px 11px 4px rgba(189, 189, 189, 0.22);
    box-shadow: 0px 5px 11px 4px rgba(189, 189, 189, 0.22);
    /* background-image: linear-gradient(rgb(160, 255, 255) 10%, rgb(106, 255, 106) 85%, rgb(160, 255, 255) 90%); */
}

.error-messege {
    z-index: 30;
    position: fixed;
    font-size: 20px;
    bottom: 10%;
    right: 10%;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
    background-color: #D11F1F;
    -webkit-box-shadow: 0px 5px 11px 4px rgba(238, 63, 63, 0.22);
    -moz-box-shadow: 0px 5px 11px 4px rgba(238, 63, 63, 0.22);
    box-shadow: 0px 5px 11px 4px rgba(238, 63, 63, 0.22);
    /* background-image: linear-gradient(rgb(160, 255, 255) 10%, rgb(106, 255, 106) 85%, rgb(160, 255, 255) 90%); */
}



.MuiAccordion-root {
    background-color: #14161A !important;
    border: none !important;
    padding: 10px 25px !important;
}


/* .langTrue {
    cursor: pointer;
    color: white;
    font-size: 17px;
}
*/

/* 
.langFalse {
    cursor: pointer;
    color: var(--darkPlaceholderColor);
    font-size: 14px;
} 
*/


.bg-filter {
    filter: blur(10px);
    -webkit-filter: blur(1px);
}






@media (max-width: 1024px) {
    /* .selectdiv::after {
        content: url('../src/images/inputArrow.png');
        color: var(--darkPlaceholderColor);
        right: 14px;
        top: 14px;
        transform: scale(0.93);

        position: absolute;
        pointer-events: none;
    } */

    .MuiAccordion-root {
        background-color: #14161A !important;
        border: none !important;
        padding: 8px 20px !important;
    }
}

@media (max-width: 768px) {
    .About-position-box {
        width: 100%;
        position: relative;
        top: -30px;
    }

    /* .selectdiv::after {
        content: url('../src/images/inputArrow.png');
        color: var(--darkPlaceholderColor);
        right: 8px;
        top: 9px;
        transform: scale(0.8);

        position: absolute;
        pointer-events: none;
    } */



    .react-tabs__tab--selected {
        background: #1268FB;
        padding: 20px;
        color: white;
        border-radius: 7px;
        outline: none;
        border: none;
    }

    .MuiAccordion-root {
        background-color: #14161A !important;
        border: none !important;
        padding: 5px 13px !important;
    }

}