@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');

@font-face {
    font-family: 'wolkway';
    src: local('wolkwway'), url('../fonts/Walkway-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'fredoka';
    src: local('fredoka'), url('../fonts/Fredoka/Fredoka-Regular.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {

    --darkTextColor: #FFFFFF;
    --darkPlaceholderColor: #999999;
    --darkPlaceholderBg: #1F232C;
    --darkBgBlack: #14161A;
    --darkBgGray: #1F232C;

    --buttonBgColor: #1268FB;
    --buttonTextColor: #FFFFFF;
}

body.active {

    --darkTextColor: #14161A;
    --darkPlaceholderColor: #6D788D;
    --darkPlaceholderBg: #F3F3F3;
    --darkBgBlack: #FFFFFF;
    --darkBgGray: #E5E5E5;

}

body {
    font-family: 'fredoka', poppins, sans-serif, ui-sans-serif, system-ui;
    scroll-behavior: smooth;
}


.container {
    max-width: 1162px;
    margin: 0 auto;
    padding: 0 15px;
}

.wolkway {
    font-family: 'fredoka';
    letter-spacing: 0.07em;
    /* font-weight: 900; */
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3 {
    font-family: 'fredoka';
}