.AboutPositionBox {
    bottom: 10%;
    width: 100%;
    position: absolute;
}


.homeMain {
    height: calc(100vh - 91px);
    background: #14161A url(../images/main\ bg.png) no-repeat right center;
}





@media (max-width: 768px) {
    .AboutPositionBox {
        top: -30px;
        width: 100%;
        position: relative;
    }

    .homeMain {
        height: auto;
    }
}